@{
    ViewData["Title"] = "PetShop";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Compre o que estiver precisando para seu pet, pelo menor preço.</p>
</div>

<div class="alert alert-primary" role="alert">
    Ração para cães e gatos.  
</div>

<ul>
    <li>Shampoo e Condicionador.</li>
</ul>

<div class="alert alert-primary" role="alert">
     Banho e Tosa.
</div>

<ul>
    <li>Acessorios para seu pet.</li>
</ul>

<span class="v412_9">FRETE GRÁTIS A PARTIR DE R$79,90</span>
</div>


    


